.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px ccc;
}

input:checked + .slider:before {
  background-color: green;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.headerDark {
  background-color: black;
}

.headerLight {
  background-color: white;
}

.searchBar {
  width: 80%;
  border-radius: 30px;
  padding: 5px;
  outline: none;
}

.searchDropdown {
  position: relative;
  background-color: #f3ecec;
  left: 25%;
  width: 50%;
  border-radius: 5px;
  z-index: 2;
  /* text-align: center; */
}

ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 2px;
  background-color: #f0f0f0;
  color: black;
}

