.movieCard {
  background-color: #191818;
  height: fit-content;
  width: fit-content;
  display: flex;
  border-radius: 5px;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .movieCard {
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  .discription {
    width: 350px;
  }
}

@media only screen and (max-width: 550px) {
  .discription {
    width: 300px;
  }
}

@media only screen and (max-width: 425px) {
  .discription {
    width: 250px;
  }
}

@media only screen and (max-width: 375px) {
  .discription {
    width: 230px;
  }
}

@media only screen and (max-width: 320px) {
  .discription {
    width: 200px;
  }
}

@media only screen and (min-width: 551px) {
  .discription {
    width: 400px;
  }
}

.movieCardImage {
  height: 350px;
  width: 260px;
  border-radius: 5px;
}

.discription {
  color: white;
  /* width: 400px; */
  margin: 25px 30px;
  text-align: initial;
}